@using TeslaMed.ViewModels;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model FreelanceAndStaffDoctorsListsViewModel
@{
    ViewData["Title"] = @Localizer["Header"];
}
<div class="container">
    <h2 class="text-center">@Localizer["Header"]</h2>
    <div class="row justify-content-center">
        @if (User.IsInRole("admin"))
        {
            <div class="text-center">
                <a asp-route-isStaffDoctor="true" asp-controller="Doctors" asp-action="ShowListOfDoctors" class="btn btn-outline-primary">@Localizer["ButtonStaffDoctors"]</a>
                <a asp-route-isStaffDoctor="false" asp-controller="Doctors" asp-action="ShowListOfDoctors" class="btn btn-outline-primary">@Localizer["ButtonFreelanceDoctors"]</a>
            </div>
            <div class="my-4">
                @if (ViewBag.IsStaffDoctor)
                {
                    @await Html.PartialAsync("PartialViews/ListOfStaffDoctorsPartialView.cshtml", Model.StaffDoctors);
                }
                else
                {
                    @await Html.PartialAsync("PartialViews/ListOfFreelanceDoctorsPartialView.cshtml", Model.FreelanceDoctors);
                }
            </div>
        }
        else
        {
            @await Html.PartialAsync("PartialViews/ListOfFreelanceDoctorsPartialView.cshtml", Model.FreelanceDoctors);
        }
    </div>
</div>
