@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model TeslaMed.Models.FAQ

@{
    ViewData["Title"] = "Edit FAQ";
}

<div class="container text-center align-items-center">
    <h1 style="color:#0161AB">@Localizer["Title"]</h1>

    <form asp-action="EditFAQ" method="post" enctype="multipart/form-data" style="max-width: 60%; margin: 0 auto;">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Title" class="control-label"></label>
            <input type="text" asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Text" class="control-label"></label>
            <textarea asp-for="Text" class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div class="form-group mt-3 text-center">
            <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
